*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-family: 'Work Sans', sans-serif;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p {
  margin-bottom: 1em;
  line-height: 1.25em;
}

a {
  color: darkcyan;
}

a:hover {
  background: orangered;
  color: white;
}

li {
  line-height: 1.25em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

header {
  margin: 1em 0 5em 0;
}

nav {
  margin: 2em 0 1em 1em;
}
nav li {
  margin: .5em;
  color: orangered;
}
nav a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
}

main {
  margin: 1em 0;
}

.counters {
  counter-reset: counter-name;
}

section {
  /* border: 2px solid black;
  border-radius: 5px; */
  padding: 1em;
  margin: 1em 0;
  max-width: 95%;
}

section h3 {
  font-weight: 400;
  margin-bottom: 1em;
  background: black;
  color: white;
  padding: .5em;
}

section img {
  max-width: 100%;
}

section h3::before {
  display: inline;
  color: orangered;
  counter-increment: counter-name;
  content: counter(counter-name);
  margin-right: 1em;
}
pre {
  border-radius: 10px;
  font-weight: 500;
  max-width: 80ch;
  position: relative;
  overflow: unset !important;
  color: black !important;
}
pre::after {
  content: '[copy]';
  position: absolute;
  right: -50px;
  top: 0px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: .8rem;
  padding: .3em;
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
}

.side-by-side > * {
  max-width: 50%;
}

pre:hover::after {
  cursor: pointer;
}

pre:active::after {
  color: white;
  background: black;
}

.work-title {
  font-weight: 700;
  font-style: italic;
  margin-bottom: .5em;
}

.ps {
  font-size: .8rem;
  background: lightgray;
  padding: 1.25em;
  border-radius: .5em;
}

.ps::before {
  content: 'Note: ';
  font-weight: 700;
  font-style: italic;
}

.intro {
  font-weight: 500;
  font-size: 1.25rem;
}

.demo-section__title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.demo-section__content {
  margin-left: 1em;
}

.demo-section__content li {
  margin: 1em 0;
}

.demo-section__content > li > ol {
  margin-left: 1em;
}